body {
  background-color: #fafafa;
  margin: 0;
}

button {
  cursor: pointer;
  padding: unset;
  border: unset;
  background: unset;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
}

nav {
  position: fixed;
  display: grid;
  top: 0;
  background-color: #fff;
  height: 3.3em;
  line-height: 3.3em;
  width: 100%;
  border-bottom: 0.1em solid #dbdbdb;
  grid-template-columns: 2fr 1fr 1fr 0.5fr;
}

.logo {
  text-decoration: none;
}

.logo > img {
  vertical-align: middle;
}

.search {
  background: #fafafa;
  height: 2em;
  margin: 0.8em;
  width: 15.5em;
  border: 0.07em solid #dbdbdb;
  border-radius: 0.2em;
}

.search::placeholder {
  text-align: center;
  color: #808080;
}

.nav-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.nav-links i {
  transform: scale(1.6);
  color: #252525;
}

.container {
  padding: 0 15%;
}

.bio {
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-family: Arial, Helvetica, sans-serif;
  padding: 3em 0 2em 5em;
  border-bottom: 0.2px solid #dbdbdb;
  margin-top: 5em;
  margin-bottom: 2em;
}

#profilePhotoInput {
  display: none;
}

.profile-photo {
  background: #000;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  margin-top: 0.5em;
}

@media screen and (max-width: 768px) {
  .profile-photo {
    width: 7em;
    height: 7em;
    margin-top: 3em;
    margin-right: 2em;
  }
  nav {
    display: grid;
    width: 100%;
    grid-template-columns: 0.8fr 0.4fr 0.5fr;
  }
  .search {
    width: 13.5em;
  }
  .nav-links {
    display: grid;
    grid-template-columns: 0.9fr 0.9fr 0.9fr 0.9fr;
  }
  .bio {
    padding: 3em 0 2em 0;
    margin-bottom: 2em;
  }
  .delete-all{
    position: absolute;
    bottom: 7em;
    right: 2em;
  }
  
}

.profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.profile-photo img:hover {
  opacity: 0.7;
}

.profile-info .name {
  font-size: 1.7em;
  color: #545454;
  margin-bottom: 0;
}

.profile-info .about {
  font-size: 1.2em;
  color: #545454;
}

.profile-info button {
  background-color: #0095f6;
  color: #fff;
  font-size: 1.1em;
  width: 6em;
  height: 2em;
}

.profile-info button:hover {
  background-color: #0081d6;
}

.edit-bio-form input {
  width: 50%;
  height: 2em;
  border: 0.1em solid #dbdbdb;
  border-radius: 0.2em;
  padding: 0.5em;
  margin-top: 0.5em;
}

.edit-bio-form button {
  margin: 1em 1em 0 0;
}

.edit-bio-form .cancel-button {
  background-color: #890000;
}

#addPhotoInput {
  display: none;
}

.add-photo-button {
  transform: scale(3);
  position: absolute;
  bottom: 2em;
  right: 2em;
  cursor: pointer;
}

.delete-all{
  transform: scale(2.8);
  position:absolute;
  bottom: 2.5em;
  right: 7em;
  cursor: pointer;
}

.gallery {
  /* flex on the container and flex wrap "wraps" images that cannot fit on the same line to the next line */
  display: flex;
  flex-wrap: wrap;
}

.item {
  height: 17.5em;
  width: 17.5em;
  /* this margin does what row and column gap was doing */
  margin: .5rem .5rem;
  background: #000;
  cursor: pointer;
}

.item-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.item:hover .item-image {
  opacity: 0.7;
}

.delete-button {
  opacity: 0;
  position: absolute;
  margin-left: -12em;
  margin-top: 11em;
  padding: 0.1em 0.3em;
  background-color: #890000;
  color: #fff;
  border: 1px solid #c8c8c8;
  transform: scale(1.5);
}

.delete-button:hover {
  background-color: #670000;
  color: #fff;
}

.item:hover .delete-button {
  opacity: 1;
}